@charset "UTF-8";

/*
amarelo-#EBAB44
azul-#449AEB */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html{
    width: 100vw;
    height: 100vh;
    background-color: #5C85AB;
}
h1{
    text-align: center;
    padding-top: 5px;
}
p{
    margin: 7px;
}
main{
    width: 100vw;
    height: 100vh;
    position: relative;
}
section#login{
    background-color: #f0f8ff;
    position: absolute;
    height: 530px;
    width: 260px;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}
section#login > div#foto{
    display: block;
    background: #5C85AB url(../img/foto.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
}
#login > #form{
    display: block;
    padding: 10px;
}
form > input[type=submit] {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #648eb6;
    border: #648eb6;
    color: white;
    font-size: 1em;
    cursor: pointer;
}
form > input[type=submit]:hover{
    background-color: #395269;
}
a{
    display: block;
    background-color: aliceblue;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 1px 0px 0px;
    text-align: center;
    text-decoration:none;
    color: #648eb6;
    font-size: 1em;
    padding-top: 7px;
    border: 1px solid #648eb6;
}
a:hover{
    background-color: #82b8eb80;
}
form > div.formu{
    display: block;
    background-color: #648eb6;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
    border: 2px solid #648eb6;
}
.formu > label{
    display: none;
}
#person{
    color: white;
    font-size: 2em;
    padding: 5px;
    width: 40px;
}
#key{
    color: white;
    font-size: 2em;
    padding: 5px;
    width: 40px;
}
div.formu > input{
    background-color: #ebab44c4;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 5px;
    padding: 4px;
    transform: translateY(-12px);
}
div.formu > input:focus-within{
    background-color: aliceblue;
}


